%section{:id => "homepageTitle"}
  %div.container
    %div.row
      %div{:id => "titleBox", :class => "col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3"}
        %h1 Admin
        %h2 Admin Pages
%section{:id => "pageBarOne"}
  %div.container
    %div.row
      %div{:class => "pageBarTextBlock-b bigFont"}
        - if user_is_admin
          %p
            %span= link_to "Edit the Gallery", edit_gallery_path, class: "btn btn-default"
            %span= link_to "Upload to Gallery", new_photo_path, class: "btn btn-default"
          %p
            %span= link_to "View Mailing List", mailing_list_path, class: "btn btn-default"
            %span= link_to "Download Mailing List", "", class: "btn btn-default", :onclick => "download_list(); return false"
          %p.centerfy= link_to "Logout", admin_logout_path, class: "btn btn-default"
        - else
          = form_tag "/admin_login", method: "get" do
            = label_tag :checktext, "Password:"
            = text_field_tag :checktext
            = submit_tag "Submit", class: "btn btn-default"