/ Footer

%section{:id => "socialMediaBar"}
  %div.container
    %div.row
      %hr
      #footer.p-y-4
        %img= image_tag "otr_logo_small.png", id: "footerLogo"
      = link_to facebook_path, class: "btn" do
        %i.fa.fa-facebook-square.fa-5x{"aria-hidden" => "true"}
      = link_to instagram_path, class: "btn" do
        %i.fa.fa-instagram.fa-5x{"aria-hidden" => "true"}
      = link_to twitter_path, class: "btn" do
        %i.fa.fa-twitter-square.fa-5x{"aria-hidden" => "true"}
#footer.p-y-4
  Copyright © Off The Rack 2017. All Rights Reserved.
  = link_to "Admin Login", admin_path
